$color1: #754176;
$color2: #fe5864;
$color3: #000000;
$color4: #fafafa;


@import "./imports/index";
@import "./imports/servicios";
@import "./imports/portfolio";
@import "./imports/contactanos";
@import "./imports/clientes";
@import "./imports/operaciones";
