*{      
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'Prelo-Book';
    src: url(../fonts/Prelo-Book.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Prelo-Bold';
    src: url(../fonts/Prelo-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Prelo-ExtraBold';
    src: url(../fonts/Prelo-ExtraBold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PreloSlab-Bold';
    src: url(../fonts/PreloSlab-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PreloSlab-Medium';
    src: url(../fonts/PreloSlab-Medium.otf);
    font-weight: 200;
    font-style: normal;
}


body{
    background-color: #fafafa;

}

header{
    background-color:#fe5864;
    height: 80px;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

}


#logotipoBlanco{
    height: 45px;
    align-items: center;
    margin: 0px 150px 0px 150px;
    justify-content: flex-start;
}

ul li{
    list-style-type: none;
    justify-content: end;


}

nav{

    margin: 0px 150px 0px 150px;
}


nav ul{
    margin: 0px 150px 0px 150px;

}


nav ul li{
    display: inline-block;
    font-family: 'Prelo-Bold';
    margin: 20px 15px 20px 15px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
    transition: all 300ms;

}

nav ul li a:hover{

        color: #951B81;
        cursor: pointer;  
}


nav ul li a:hover{

    transform: scale(1.30);

}

.main{

    margin-top: 80px;
}

.imagenPortadageneral{
    margin-top: 0%;
    margin-bottom: 0%;

}

#imagenPortada1{

    width:100%;
    margin-top: 0;
}

.servicios{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.contenedorServicios{

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contenedorServicios figure {

    margin: 0%;
    
}

#tituloServicios:hover{

    color: white;
    cursor: pointer; 
    background-color: #fe5864;
    padding: 10px 20px 10px 20px;
}

#tituloServicios{

    color: white;
    font-size: 15pt;
    font-family: 'PreloSlab-Medium';
    position: absolute;
    transition: all 300ms;
    
}

.imagenServicios{
    height: 100%;
    width: 0%;
  
}

.blog{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contenidoBlog{
    width: 100%;
}


.blogContenedor{
    display: flex;
    flex-direction: column;
    margin: 40px 60px 40px 60px;
    width: auto;
}

.titulosBlog{

    color: #754176;
    font-size: 20pt;
    font-family: 'PreloSlab-Bold';
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

#subtitulo{
    color: black;
    font-size: 15pt;
    font-family: 'Prelo-Bold';
    margin: 40px 60px 40px 60px;

}

.videoBlog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 60px 40px 60px;

}

p{
    color: black;
    font-size: 12pt;
    font-family: 'Prelo-Book';
    margin: 40px 60px 40px 60px;

}

h3{
    font-size: 12pt;
    font-family: 'Prelo-Bold';
    color: #fe5864;
}


/*Footer*/


.footer{

    background-color: #000000;
}

.py-5{

    color: white;
    margin: 0 200px 0 200px;
    font-family: 'Prelo';
    padding: 0%;
    font-size: 13px;

}

.py-5 p{

    color: #fafafa;
   
}

.footer p{

    margin: 0%;
    padding: 0%;
    font-size: 15px;
}

.btn-primary{

    background-color: #fe5864;
    border: 0;
}

.linkServicios{

    color: #fafafa;
    text-decoration: none;
}

.linkServicios:hover{

    color: #fe5864;
}

.linkContactanos{

    color: #fafafa;
    text-decoration: none;
}

h5{

    font-size: 15px;
    color: #fe5864;
}

.d-flex {

    margin: 0px;
    padding: 0px;
}

.col-6{

    margin-right: 40px;
}

.bi{

    color: #fafafa;
}


/* anadiendo grid */

/* inicio */

.gridHome{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 3fr auto;
    grid-template-areas: 
            "header header header header"
            "main main main main"
            "blogContenedor blogContenedor blogContenedor blogContenedor"
            "footer footer footer footer"
            "copyrigth copyrigth copyrigth copyrigth"
    ;

}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.blogContenedor{
    grid-area: blogContenedor;
}

.footer{
    grid-area: footer;
}

.copyrigth{
    grid-area: copyrigth;
}

.serviciosContenido{
    grid-area: serviciosContenido;
}


/* servicios */


.gridServicios{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 3fr auto;
    grid-template-areas: 
            "header header header header"
            "main main main main"
            "servicios servicios servicios servicios"
            "footer footer footer footer";
}


.cardsServicios{

    grid-area: servicios;
}

.cardsServicios{

    display: flex;
    justify-content: center;
    margin: 130px 180px 80px 180px;
    gap: 50px;
    flex-wrap: wrap;
}

.card{

    width: 700px;
}



/* portfolio */

#portfolioContenido{

    display: flex;
    flex-wrap: wrap;
    /*margin-top: 80px;*/
    padding: 80px 0 0 0;
}

.contenedorPortfolio{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    padding: 0px;

}

.imgportfolio{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemPortfolio:nth-child(1) {
    grid-row-start: span 3;

}

.itemPortfolio:nth-child(2) {
    grid-row-start: span 2;

}

.itemPortfolio:nth-child(3) {
    grid-row-start: span 1;

}

.itemPortfolio:nth-child(4) {
    grid-row-start: span 2;
    
}

.itemPortfolio:nth-child(5) {
    grid-row-start: span 2;
    
}

.itemPortfolio:nth-child(6) {
    grid-row-start: span 2;
    
}

.itemPortfolio:nth-child(7) {
    grid-row-start: span 3;
    
}

.itemPortfolio:nth-child(8) {
    grid-row-start: span 2;
    
}

.itemPortfolio:nth-child(9) {
    grid-row-start: span 1;
    
}


/* clientes */

.contenedorClientes{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    gap: 50px;
    padding: 120px 150px 80px 150px;
    /*margin: 80px 150px 40px 150px;*/
    justify-content: center;
}

.itemClientes{
    padding: 50px;

}

.imagenClientes{

    height: 100px;
}


/* contactanos */

#tituloContactanos{

    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-family:'Prelo-Bold';
    font-size: 30px;
    color: #754176;


}

.formulario{

    margin: 50px 300px 120px 300px;
    font-family: 'Prelo-Book';
}

.col-md-6{

    padding: 20px 0 0 12px;
}

.col-12{

    padding: 20px 0 0 12px;
}

.col-md-4{

    padding: 20px 0 0 12px;
}



/* aplicando media queries para mobile*/


/* version mobile*/


@media (max-width:425px) {

    
    .main{

        margin-top: 250px;
    }

    .blog{
        flex-direction: column;
    }

    .contenedorPortfolio{

        display: flex;
        flex-direction: column;
        margin-top: 80px;

    }

    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }


    .tituloServicios{

        padding: 10px 20px 10px 60px;
        font-size: 30px;
    }

    p{

        margin: 20px 60px 20px 60px;
    }

    .imgServicios{

        height: 90%;
        width: 90%;
    }

    .serviciosContenido{

        margin-top: 300px;
    }

    .serviciosDiseñografico{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px
    }

    .serviciosDiseñoweb{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px
    }

    .serviciosFotografia{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px
    }

    .serviciosSocialmedia{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px;
    }


    .py-5{

        margin: 0 50px 0 50px;
    }

    .logoRedes{

        padding: 10px 0 10px 0;
    }

}

/* version tablet */

@media (max-width:767px) {


    .header{
        display: block;
        flex-direction: column;
        height: 250px;
        position: 0px 0px 0px 0px;
    }

    .main{

        margin-top: 250px;
    }
    
    .header a{

        display: flex;
        justify-content: center;
        margin-top: 10px;
    } 

    nav ul{

        margin: 0px;
        align-content: center;
        padding: 0;
    }

    nav ul li{
        display: flex;
        margin: 0%;
        flex-direction: column;
    }

    nav ul li a{

    margin: 0;
    padding: 0;

    }

    .servicios{

        display: flex;
        flex-direction: column;        
    }

    .imagenServicios{

        height: 100%;
        width: 100%;
    }

    .serviciosDiseñografico{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px
    }

    .serviciosDiseñoweb{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px
    }

    .serviciosFotografia{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px
    }

    .serviciosSocialmedia{

        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px;
    }

    .blog{

        flex-direction: column;
    }

    .contenedorPortfolio{

        margin-top: 170px;
    }

    .contenedorClientes{

        padding: 270px 0 0 0;
    }

    #tituloContactanos{

        padding: 300px 0 0 0;
    }

    .formulario{

        margin: 50px 100px 50px 100px;
    }

    .cardsServicios{

        margin: 280px 100px 80px 100px;
    
    }

    .card{

        width: 400px;
    }

    .card-title{

        margin-left: 20px;
    }

    .card-text {

        margin: 20px;
    }

}


@media (min-width:768px) {


    .imagenServicios{

        height: 100%;
        width: 100%;
    }


    .header{
        
        justify-content: center;

    }

    #logotipoBlanco{

        margin: 0 0 0 50px;

    }

    nav{

        margin: 0;
    }

    nav ul{

        margin: 0;
    }

    nav ul li a{

        display: flex;
        justify-content: center;
        margin: 0 0 0 0;
        flex-direction: row;

    }


    #subtitulo{

        margin: 20px 10px 20px 10px ;
    }

    p{

        margin:  20px 10px 20px 10px;
    }


    .tituloServicios{

        padding: 20px 10px 20px 10px;
        font-size: 30px;
    }

    .imgServicios{

        height: 100%;
        width: 100%;
    }

    .serviciosDiseñografico {

        gap: 20px;
    }
    
    .serviciosDiseñoweb {

        gap: 20px;
    }
    
    .serviciosFotografia {

        gap: 20px;
    }
    
    .serviciosSocialmedia{

        gap: 20px;
    }

    .contenedorClientes{

        display: flex;
        flex-direction: row;
        padding: 140px 40px 20px 40px;
    }

    .formulario{

        margin: 50px 100px 50px 100px;
    }

 }


/* version desktop */


 @media (min-width:1024px) {

    .header{

        justify-content: center;
        gap: 250px;
    }

    .carousel-inner{

        width: 100%;
    }

    nav ul{

        display: flex;
        flex-direction: row;
        margin: 0 0 0 0;

    }

    nav{
        display: flex;
        justify-content: end;

    }
    
    .imagenServicios{

        height: 100%;
        width: 100%;
    }

    .tituloServicios{

        padding: 20px 10px 20px 10px;
    }

    .serviciosDiseñografico {

        gap: 20px;
    }
    
    .serviciosDiseñoweb {

        gap: 20px;
    }
    
    .serviciosFotografia {

        gap: 20px;
    }
    
    .serviciosSocialmedia{

        gap: 20px;
    }


/* version desktop extra xl*/

@media (min-width: 1440px) {
    
    .header{
        justify-content:center;
        gap: 600px;
    }

    nav {

        margin: 0;

    }

    #logotipoBlanco{

        margin: 0;
    }

    .carousel slide{

        width: 100%;

    }

    .servicios{

        width: 100%;
    }

    }

}
